#particles-js {
    width: 100%;
    height: 150%;
    padding-bottom: 100px;
    background-image: url("https://img.freepik.com/free-vector/background-realistic-abstract-technology-particle_23-2148431735.jpg?w=2000&t=st=1676261322~exp=1676261922~hmac=79fc7221d5aa0d6d39dfc209006e19ad05804dd07284e4c247066951a21637b2");
    background-size: cover;
    background-repeat: no-repeat;
}
