@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

.promos {
    margin: 0 auto;
}

.promo {
    margin: 1em 0.5em 1.625em;
    padding: 0.25em 0 2em;
    background: #0f1012;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 1.625;
    color: #f9f9f9;
    text-align: center;
}
@media (min-width: 40em) {
    .promo {
        display: inline;
        float: left;
        width: 33.333%;
        margin: 1em 0 0;
    }
    .promo.first {
        border-right: none;
    }
    .promo.second {
        float: right;
        border-left: none;
    }
}
.promo h4 {
    margin: 0.25em 0 0;
    font-size: 170%;
    font-weight: normal;
}
.promo .features {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: #999999;
}
.promo li {
    padding: 0.25em 0;
}
.promo .brief {
    color: #f9f9f9;
}
.promo .price {
    margin: 0.5em 0;
    padding: 0.25em 0;
    background: #292b2e;
    font-size: 250%;
    color: white;
}
.promo .buy {
    margin: 1em 0 0;
}
.promo button {
    padding: 1em 3.25em;
    border: none;
    border-radius: 40px;
    background: #292b2e;
    color: #f9f9f9;
    cursor: pointer;
}
.promo button:hover {
    background: white;
    color: black;
}

/* .scale button {
  background: ;
}
.scale button:hover {
  background: ;
} */
@media (min-width: 40em) {
    .scale {
        transform: scale(1.2);
        box-shadow: 0 0 4px 1px rgba(20, 20, 20, 0.8);
    }
    /* .scale .price {
    color: #fff;
  } */
}
