.wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.card1 {
    height: 340px;
    margin: 1em;
    perspective: 1500px;
}
.card1 .content {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
}

.more {
    display: none;
}
.more:checked ~ .content {
    transform: rotateY(180deg);
}

.front,
.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 6px;
}
.front .inner,
.back .inner {
    height: 100%;
    display: grid;
    padding: 1.5em;
    transform: translateZ(80px) scale(0.94);
}

.front {
    background-color: #fff;
    background-size: cover;
    background-position: center center;
}
.front:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 6px;
    backface-visibility: hidden;
    background: rgba(0, 0, 0, 0.5);
}
.front .inner {
    grid-template-rows: 5fr 1fr 1fr 2fr 1fr;
    justify-items: center;
}
.front h2 {
    grid-row: 2;
    margin-bottom: 0.3em;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
    font-weight: 500;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}
.front .rating {
    grid-row: 3;
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    display: flex;
    flex-flow: row nowrap;
}
.front .rating i {
    margin: 0 1px;
}

.back {
    transform: rotateY(180deg);
    background-color: #fff;
    border: 2px solid #f0f0f0;
}
.back .inner {
    grid-template-rows: 1fr 2fr 1fr 2fr 14fr 1fr 1fr;
    grid-template-columns: repeat(4, auto);
    grid-column-gap: 0.8em;
    justify-items: center;
}
.back .info {
    position: relative;
    display: flex;
    align-items: center;
    color: black;
    grid-row: 3;
}
.back .info:not(:first-of-type):before {
    content: "";
    position: absolute;
    left: -0.9em;
    height: 18px;
    width: 1px;
    background-color: #ccc;
}
.back .info span {
    font-size: 2em;
    font-weight: 700;
}
.back .info i {
    font-size: 1.2em;
}

.back .info .icon {
    margin-left: 0.3em;
}
.back .info .icon span {
    display: block;
    margin-top: -0.25em;
    font-size: 0.8em;
    font-weight: 600;
    white-space: nowrap;
}
.back .description {
    grid-row: 5;
    grid-column: 1/-1;
    font-size: 0.86em;
    border-radius: 5px;
    font-weight: 600;
    line-height: 1.4em;
    overflow: auto;
    color: black;
    padding-right: 10px;
}
.back .location,
.back .price {
    font-weight: 600;
    color: black;
    grid-row: 1;
    font-size: 0.86em;
}
.back .location {
    grid-column: 1/3;
    justify-self: left;
}
.back .price {
    grid-column: 3/-1;
    justify-self: right;
}
.back .button {
    grid-column: 1/-1;
    justify-self: center;
}

.button {
    grid-row: -1;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    display: block;
    padding: 0 1.5em;
    height: 3em;
    line-height: 2.9em;
    min-width: 3em;
    background-color: transparent;
    border: solid 2px #fff;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    left: 50%;
    backface-visibility: hidden;
    transition: 0.3s ease-in-out;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
.button:hover {
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    text-shadow: none;
    color: black;
}
.button.return {
    line-height: 3em;
    color: black;
    border-color: black;
    text-shadow: none;
}
.button.return:hover {
    background-color: black;
    color: #fff;
    box-shadow: none;
}

::-webkit-scrollbar {
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #000;
}

::-webkit-scrollbar-thumb:hover {
    background: black;
}
